.page-header-title {
    margin: 30px 0 30px 0;
}

.page-header-title h5 {
    margin: 0 0 3px;
}

.button-group {
    margin-top: 20px;
}

.button-group a {
    text-decoration: none;

    font-size: 14px;
    margin-right: 10px;
}

.button-group a:last-child {
    color: #c82333;
}